<div class="cryp-container">
    <div class="floating-box">

        <!-- Floating Crypto Coins -->
        <div class="coin coin1">₿</div>
        <div class="coin coin2">◎</div>
        <div class="coin coin3">Ξ</div>

        <!-- Main Logo / Brand -->
        <h1 class="brand">Cryp<span>Booking</span></h1>

        <p class="message">
            We are upgrading our blockchain servers.<br />
            CrypBooking will be live shortly!
        </p>

        <!-- Loader -->
        <div class="crypto-loader"></div>
    </div>
</div>