/* Floating Button */
.floating-referral-circle {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 65px;
  height: 65px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.20);
  border: 1px solid #eaeaea;
  transition: 0.2s ease;
}

.floating-referral-circle i {
  font-size: 28px;
  color: #4de4ff;
}

/* Tooltip */
.referral-tooltip {
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 260px;
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  z-index: 9999;
  animation: fadeInUp 0.3s ease-out;
}

/* Tooltip Header */
.tooltip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

/* Close Button */
.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  color: #444;
}

/* Tooltip body */
.tooltip-body {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Animation */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.referral-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.referral-link:hover {
  color: rgb(0, 139, 30);
}

.text-success {
  color: green;
  font-size: 12px;
}

