.referral-container {
  padding-top: 170px !important; /* equal to header height */
  /* padding: 20px; */
  color: #fff;
  background: linear-gradient(135deg, #232526, #414345);
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  color: #00e6ac;
}

.history-card {
  background: #ffffff;
  color: #333;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.2);
  border-left: 5px solid #00bcd4;
}

.card-header {
  font-weight: 600;
  color: #0097a7;
  margin-bottom: 10px;
}

.card-body p {
  margin: 5px 0;
}

.date {
  color: #555;
  font-size: 0.9rem;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #ccc;
}
