.wallet-container {
  max-width: 500px;
  margin: 30px auto;
  padding-top: 110px;
  /* padding: 20px; */
  /* height: 100vh; */
  background: #f9fafc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.wallet-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.fee-details p {
  margin: 5px 0;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
